/* =============== MOBILE S 320 =============== */
@media screen and (max-width: 320px) {
    html{
        width: 100vh;
    }
    .nav__name {
      display: none;
    }
    .div__img{
        /* visibility: hidden; */

        transform:rotate(180deg);
        -ms-transform:rotate(180deg); /* IE 9 */
        -webkit-transform:rotate(270deg); /* Opera, Chrome, and Safari */

        padding-block-start: 0rem;
        padding-block-end: 0rem;

        flex-direction: column;
    }
    .background_image{
        width: 70%;
        
        position: relative;
    }
    .text_home{
        padding-inline-start: 0rem;
        align-items: center;
    }
    .title-home{
        font-size: 25px;
        line-height: 50px;
    }
    .text__hello{
        padding-block-end: 0.5rem;
    }
    .section_about_height {
        height: 270vh;
    }

    .skills__data{
        width: 100%;
    }

    .div__color{
        width: 240vw; 
    }
  }
/* =============== MOBILE M 375 =============== */
@media screen and (max-width: 375px) {
      html{
        width: 100vh;
    }
    .nav__name {
      display: none;
    }
    .div__img{
        /* visibility: hidden; */

        transform:rotate(180deg);
        -ms-transform:rotate(180deg); /* IE 9 */
        -webkit-transform:rotate(270deg); /* Opera, Chrome, and Safari */

        padding-block-start: 0rem;
        padding-block-end: 0rem;

        flex-direction: column;
    }
    .background_image{
        width: 70%;
        
        position: relative;
    }
    .text_home{
        padding-inline-start: 0rem;
        align-items: center;
    }
    .title-home{
        font-size: 25px;
        line-height: 50px;
    }
    .text__hello{
        padding-block-end: 0.5rem;
    }
    .section_about_height {
        height: 270vh;
    }
}
/* =============== MOBILE L 425 =============== */
@media screen and (min-width: 576px) {
    .nav__list {
      justify-content: center;
      column-gap: 10rem;
    }
  }
/* =============== TABLET 768 =============== */
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: 1rem;
    display: block;
  }
  .nav__link:hover {
    transform: scale(1.1);
    transition: .3s;

    box-shadow: #ffffff;
  }
  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
    column-gap: 15%;
  }
}
/* =============== LAPTOP 1024=============== */
@media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .about_container{
      margin-left: 7%;
      margin-right: 7%;
    }
    .section {
        padding: 4.4rem 0 2rem;
      }
  }
/* =============== LAPTOP L 1440 =============== */
@media screen and (min-width: 1440px) {
    .section {
        padding: 4.4rem 0 2rem;
      }
  }
/* =============== 4K 2560 =============== */