/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #181818;
  color: #E9E9E9;
  line-height: 1.6;
}

h1,h2,h3,ul,p{
  margin: 0;
}

h2,h3{
  font-weight: 600;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.4rem 0 2rem;
}
.section__experience{
  padding-block-start: 10rem;
  font-family: Montserrat;

  padding-block-end: 10rem;
}

.section__title {
  font-size: 2.25rem;
  color: #C0FF3C;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-subtitle{
  display: block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section__height {
  height: 360vh;
}

.section_home_height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #18181800;
  z-index: 100;
  transition: .4s;
}


/*=============== NAV ===============*/
.nav {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__img {
  border-radius: 50%;

  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.085em;
}
/* RESPONSIVE NAVBAR */
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #202020;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list, 
.nav__link {
  display: flex;
  align-items: center;
}
.nav__link {
  font-style: normal;
  font-weight: 500;

  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: #E9E9E9;

  transition: all .3s ease-in-out;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size:.65rem;
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: #C0FF3C;
}

/* Change background header */
.scroll-header{
  background-color: #202020;
}

/*===== HOME =====*/
.div__img{
  padding-block-start: 3rem;
  padding-inline-end: 9rem;
  padding-block-end: 1.8rem;

  display: flex;
  justify-content: flex-end;
}
.background_image{
  position: absolute;
  width: 35%;
  height: 100%;
  
  border-radius: 150px;
  /* transform: matrix(1, -0.01, -0.01, -1, 0, 0); */
}

.text__hello{
  padding-block-end: 1.5rem;
}

.title-home{
  display: block;
  font-size: 65px;
  font-style: normal;
  font-weight: bold;
  line-height: 90px;
}

.text_home{
  display: flex;
  color: #FFF;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start:5rem;

  z-index: 1;
}

.boton__home{
  background-color: #FFF;

  width: 266px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .3s ease-in-out;
}

.father{
  padding-block-start: 3rem; 
  padding-inline-start: 5rem;
}

.text__boton_home{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 143.9%;

  color: #000;
  transition: all .3s ease-in-out;
}
.down__arrow{
  color: #FFF;
  font-size: 5rem;

  padding-block-start: 2rem;
  padding-inline-start: 5.3rem;
  
  transition: all .3s ease-in-out;
}
.boton__home:hover{
  background-color: #181818;
}
.text__boton_home:hover{
  color: #C0FF3C;
}

.down__arrow:hover{
  color: #C0FF3C;
}
/*===== ABOUT =====*/
.section__subtitle{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 149.9%;

  display: flex;
  align-items: center;
  text-align: center;
}
.father__about{
  padding-block-start: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton__about{
  background-color: #FFF;

  width: 440px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .3s ease-in-out;
}
.text__boton_about{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.9%;

  color: #202020;
  transition: all .3s ease-in-out;
}

.boton__about:hover{
  background-color: #181818;
}

.text__boton_about:hover{
  color: #C0FF3C;
}

/*===== EXPERIENCE =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/* ===== SKILLS =====*/
.skills__container{
  grid-template-columns: repeat(1,1fr);
  row-gap: 5rem;
  text-align: center;
}
.alignment{
  padding-block-start: 2rem;
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .5rem 1rem;
  margin-bottom: 3rem;
  border-radius: .5rem;
  background-color: #4F4F4F;

  width: 30rem;
}
.skills__icon{
  padding-inline-end: 1rem;
  font-size: 2rem;
  color: #C0FF3C;
}
.skills_last_icon{
  padding-inline-end: .2rem;
  font-size: 2rem;
  color: #C0FF3C;
}
.skills__names{
  font-family: Montserrat;
  display: flex;
  align-items: center;
}
.skills__subtitle{
  padding-block-end: 1.5rem;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #C0FF3C;
  height: .25rem;
  border-radius: 0 0 8 8;
}
.skills__html{
  width: 100%;
}
.skills__css{
  width: 80%;
}
.skills__js{
  width: 90%;
}
.skills__ux{
  width: 15%;
}
.skills__img{
  border-radius: .5rem;
}

.div__color{
  background-color: #C0FF3C;
  color: #181818;

  width: auto;
  height: 30rem;

  display: flex;
  align-items: center;
  flex-direction: row;

  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
}

.p__text{
  padding-inline:1.5rem;
  padding-block: 2rem;
  font-size: 20px;
}
.coffe__container {
  grid-template-columns: repeat(1,1fr);
  row-gap: 5rem;
}
.father__givecoffe{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block-end: 15rem;
}

.givecoffe{
  padding-block-start: 2rem;

  width: 1075px;
  height: 298px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
}
.left__side{
  padding-block-start: 2rem;

  color: #181818;

  line-height: 350%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left_coffe{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

.subtext_coffe{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  transition: all .3s ease-in-out;

  color: #181818;
}

.link__gmail:hover{
  color: #1300bd;

  text-decoration-line: underline;
}

.rigth__side{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img__QR{
  max-width: 40%;
  padding-block-end: 1rem;
}
.text__QR{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #C0FF3C;
  color: #000000;

  width: 250px;
  height: 45px;
}


.header__carousel{
  color: #C0FF3C;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block-end: 2rem;
}
.subtext_header_carousel{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  color: #FFF;

  padding-block-start: .5rem;
}
.space-carousel{
  padding-block-end: 7rem;
}
.discover__container{
  cursor: pointer;
}
.container{
  overflow: hidden;
}
.discover{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover__card {
  position: relative;
  width: 200px;
}

.discover__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.discover__title, 
.discover__description {
  color: #FFF;
}

.discover__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.discover__description {
  display: block;
  font-size: 1rem;
}

.discover__img {
  transition: .3s;
}

.discover__img:hover {
  transform: scale(1.1);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
} 

.swiper-pagination {
  font-family: Montserrat;

  color: rgb(255, 255, 255);
  background-color: rgba(61, 61, 61, 0.418);
}

.swiper-button-next, .swiper-button-prev {
  color: #000;
}

/*===== PORTFOLIO =====*/

.section_projects_title{
  font-size: 2.25rem;
  color: #C0FF3C;
  text-align: center;
}
.section_projects_subtitle{
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

.bd-container{
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.portfolio__nav{
  text-align: center;
  margin-bottom: 3rem;
}

.portfolio__item{
  margin: 3rem;
  cursor: pointer;
}

.portfolio__content{
  background-color: #FFF;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.portfolio__img{
  width: 100%;
  transition: .4s;
}

.portfolio__data{
  padding: 1.5rem;
}

.portfolio__subtitle{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #181818;
}

.portfolio__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #000
}

.portfolio__content:hover{
  box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.portfolio__content:hover .portfolio__img{
  transform: scale(1.02);
}
/* Active menu portfolio*/
.active-portfolio{
  color: var(--first-color-dark);
  font-weight: var(--font-semi-bold);
}


/*===== SERVICES =====*/

/*===== PROJECT IN MIND =====*/


/* Active menu portfolio*/


/*===== TESTIMONIAL =====*/


/*===== CONTACTME =====*/


/*===== FOOTER =====*/
